* {
    margin: 0;
    padding: 0;
    --krug-back: #b88206;
    --text-color: #97680a;
}

body {
    overflow: hidden;
}

.container-for-all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transform: translateX(-3%);
    font-family: 'ZTBrosOskon90s';
}

.container {
    z-index: 1;
    max-width: 320px;
    height: 465px;
    margin-top: 13%;
    padding: .5rem 2rem;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(5px);
    border-radius: 1.7rem;
    box-shadow: 0 0 15px #000;
    color: var(--text-color);
}

.crug {
    background: var(--krug-back);
    height: 30rem;
    width: 30rem;
    z-index: .9;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    transform: translateX(35%);
    filter: drop-shadow(2px 2px 12px #241b01);
    animation: color-change 7s infinite;
}

@keyframes color-change {
    30% {
        background-color: rgb(147, 17, 17);
    }
    50% {
        background-color: springgreen;
    }

    100% {
        background-color: rgb(9, 9, 122);
    }

    0% {
        background-color: #97680a;
    }
}

.result {
    margin: 3rem 0;
    text-align: right;
    font-size: 2rem;
    height: 30px;
    letter-spacing: 1px;
}

.mid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

button {
    font-family: 'ZTBrosOskon90s';
    font-size: 1.2rem;
    font-weight: 400;
    padding: .9rem;
    width: 3.2rem;
    border-radius: 50%;
    border: none;
    text-align: center;
    margin: .5rem;
    filter: drop-shadow(1px 1px 10px #241b01);
    backdrop-filter: blur(2px);
    color: var(--text-color);
    cursor: pointer;
}

.znak {
    background-color: #ebb63a;
    color: #fff;
}
.zero {
    width: 7rem;
    border-radius: 2rem;
}